.Achievment {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.subTitle {
  text-align: center;
  color: #888888;
}

.TimeContainerEducation {
  position: relative;
  top: -113px;
  width: 81%;
  margin-left: auto;
  margin-right: auto;
}

.TimeContainerCareer {
  position: relative;
  top: -113px;
}

.timelinebar {
  content: "";
  width: 4px;
  opacity: 0.2;
  margin-left: -2px;
  position: relative;
  left: 50%;
  /* top: 0; */
  height: 100%;
}

.education {
  height: 133px;
  background-color: #00b719;
  top: 67px;
}

.career {
  height: 133px;
  background-color: #00b719;
  top: 67px;
}

