/*
.timeBoxOutter {
  max-width: 18vw;
  min-width: 250px;
  min-height: 100px;
  height: auto;
  display: block;
  background-color: #757575;
  padding: 15px;
  position: relative;
  border-top: 3px solid #00b719;

  box-shadow: 2px 2px 19px black;
}

.timeBoxOutter.left {
  margin-top: -170px;
}

.timeBoxOutter.right {
  margin-left: 411.5px;
}

.dot {
  top: 61px;
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #00b719;
}

.dot.left {
  left: 363.5px;
  left: 112.3%;
}

.dot.right {
  right: 112.3%;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  top: 30%;
  z-index: 0;
}

.arrow.left {
  border-width: 25px 0 25px 26px;
  border-color: transparent transparent transparent #757575;
  position: absolute;
  left: 99.3%;
}

.arrow.right {
  border-width: 25px 26px 25px 0;
  border-color: transparent #757575 transparent transparent;
  position: absolute;
  right: 99.3%;
}

.FussballKariere{
  margin-top: 125px;
}

.timeBoxInner {
  margin-left: 10px;
}

p .timeBoxInner {
  margin-bottom: 10px;
}


.date{
  color: #00b719;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.titleTimeContainer {
  color: #d4d4d4;
  font-size: 25px;
  margin-bottom: 2px;
}

.subtext{
  color: #cccccc;
  font-size: 16px;
}

*/

.timeBoxContainerOutter {
  min-width: 250px;
  max-width: 27vw;
  min-height: 100px;
  height: auto;
  background-color: #5a5a5a;
  margin-bottom: 15px;
}

.dot {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #00b719;
  left: 50%;
  margin-left: -4px;

  /* top: 46px */
}

.timeContainerInner {
  width: 100%;
  height: auto;
  /* background-color: cyan; */
}

.arrow {
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 25px 0 26px 25px;
  border-color: transparent transparent transparent #007bff;
  position: absolute;
  left: 45%;

  /* Anpassen auf die höhe des containers da es durch
  die Schrieftgröße ändern kann
   */
  /* top: 25px; */
}

.timeTextInner {
  padding: 10px;
}

.timeTextInner .date {
  color: #00b719;
  font-size: 20px;
  font-weight: bold;
}

.timeTextInner .titleTimeContainer {
  color: #d4d4d4;
  font-size: 30px;
}

.timeTextInner .subtext {
  color: #d4d4d4;
}
