.Facts {
  margin-top: 80px;
  width: 100%;
}

/* .Facts h1 {
  text-align: center;
  color: #d4d4d4;
  margin-bottom: 40px;
} */

.clear {
  clear: both;
}

.Zahlen {
  width: fit-content;
  margin: auto;

  margin-bottom: 55px;
}

