.firstContainer{
    float: left;
    margin-right: 4vw;
    margin-left: 4vw;
    padding-right: 4%;
    border-bottom: 3px solid #343434;
    padding-bottom: 5px;
}


.Number {
    color: #00b719;
    font-size: 50px;
}

.title {
    color: #888888;
    font-size: 20px;
}