* {
  margin: 0;
  padding: 0;
}

.Home {
  width: 100%;
  height: auto;
  background-color: #424242;
}

img {
  width: 100%;
  display: block;
  -webkit-filter: opacity(0.4);
  filter: opacity(0.4);
  position: relative;
  z-index: 1;
}
