* {
  margin: 0;
  padding: 0;
}

.Home {
  width: 100%;
  height: auto;
  background-color: #424242;
  padding-bottom: 37px;
}

img {
  width: 100%;
  display: block;
}

.BackImg {
  -webkit-filter: opacity(0.4);
  z-index: 0;
  filter: opacity(0.4);
  margin-top: -60px;
}

header {
  height: 60px;
  position: sticky;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 3;
}

header.gray {
  background: #383838;
  -webkit-box-shadow: 0px 7px 25px 7px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 0px 7px 25px 7px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 7px 25px 7px rgba(0, 0, 0, 0.81);
}

.bodyContainer {
  margin-top: -33vw;
  filter: opacity(1);
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  /* min-width: ; */
  padding-bottom: 20px;
}

.headline {
  text-align: center;
  color: #d4d4d4;
  margin-bottom: 40px;
}

.Footer {
  width: 163px;
  margin-top: 86px;
  left: 39%;
  position: relative;
}
